@font-face {
    font-family: iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb/IRANSansWeb.eot");
}

@font-face {
    font-family: iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb/IRANSansWeb.ttf");
}

@font-face {
    font-family: iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb/IRANSansWeb.woff");
}

@font-face {
    font-family: iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb/IRANSansWeb.woff2");
}

@font-face {
    font-family: black-iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Black/IRANSansWeb_Black.eot");
}

@font-face {
    font-family: black-iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Black/IRANSansWeb_Black.ttf");
}

@font-face {
    font-family: black-iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Black/IRANSansWeb_Black.woff");
}

@font-face {
    font-family: black-iransans;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Black/IRANSansWeb_Black.woff2");
}

@font-face {
    font-family: bold-iransans;
    font-weight: bold;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Bold/IRANSansWeb_Bold.eot");
}

@font-face {
    font-family: bold-iransans;
    font-weight: bold;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Bold/IRANSansWeb_Bold.ttf");
}

@font-face {
    font-family: bold-iransans;
    font-weight: bold;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Bold/IRANSansWeb_Bold.woff");
}

@font-face {
    font-family: bold-iransans;
    font-weight: bold;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Bold/IRANSansWeb_Bold.woff2");
}

@font-face {
    font-family: light-iransans;
    font-weight: 300;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Light/IRANSansWeb_Light.eot");
}

@font-face {
    font-family: light-iransans;
    font-weight: 300;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Light/IRANSansWeb_Light.ttf");
}

@font-face {
    font-family: light-iransans;
    font-weight: 300;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Light/IRANSansWeb_Light.woff");
}

@font-face {
    font-family: light-iransans;
    font-weight: 300;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Light/IRANSansWeb_Light.woff2");
}

@font-face {
    font-family: medium-iransans;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Medium/IRANSansWeb_Medium.eot");
}

@font-face {
    font-family: medium-iransans;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Medium/IRANSansWeb_Medium.ttf");
}

@font-face {
    font-family: medium-iransans;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Medium/IRANSansWeb_Medium.woff");
}

@font-face {
    font-family: medium-iransans;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_Medium/IRANSansWeb_Medium.woff2");
}

@font-face {
    font-family: ultraLight-iransans;
    font-weight: 100;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_UltraLight/IRANSansWeb_UltraLight.eot");
}

@font-face {
    font-family: ultraLight-iransans;
    font-weight: 100;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_UltraLight/IRANSansWeb_UltraLight.ttf");
}

@font-face {
    font-family: ultraLight-iransans;
    font-weight: 100;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_UltraLight/IRANSansWeb_UltraLight.woff");
}

@font-face {
    font-family: ultraLight-iransans;
    font-weight: 100;
    src: url("../font/IRANSans/IRANSansWeb/IRANSansWeb_UltraLight/IRANSansWeb_UltraLight.woff2");
}

@font-face {
    font-family: number;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Medium.eot");
}

@font-face {
    font-family: number;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Medium.ttf");
}

@font-face {
    font-family: number;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Medium.woff");
}

@font-face {
    font-family: number;
    font-weight: 500;
    src: url("../font/IRANSans/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Medium.woff2");
}

@font-face {
    font-family: numbers;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansWeb\(FaNum\)/IRANSansWeb(FaNum).eot");
}

@font-face {
    font-family: numbers;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansWeb\(FaNum\)/IRANSansWeb(FaNum).ttf");
}

@font-face {
    font-family: numbers;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansWeb\(FaNum\)/IRANSansWeb(FaNum).woff");
}

@font-face {
    font-family: numbers;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansWeb\(FaNum\)/IRANSansWeb(FaNum).woff2");
}

@font-face {
    font-family: iransansds;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN/iransansdn.eot");
}

@font-face {
    font-family: iransansds;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN/iransansdn.ttf");
}

@font-face {
    font-family: iransansds;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN/iransansdn.woff");
}

@font-face {
    font-family: iransansds;
    font-weight: 200;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN/iransansdn.woff2");
}

@font-face {
    font-family: iransansdsbold;
    font-weight: 800;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN-Bold/iransansdnbold.eot");
}

@font-face {
    font-family: iransansdsbold;
    font-weight: 800;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN-Bold/iransansdnbold.ttf");
}

@font-face {
    font-family: iransansdsbold;
    font-weight: 800;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN-Bold/iransansdnbold.woff");
}

@font-face {
    font-family: iransansdsbold;
    font-weight: 800;
    src: url("../font/IRANSans/IRANSansDN/IRANSansDN-Bold/iransansdnbold.woff2");
}